build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt

*.cmake

*.sln
*.vcxproj*
*.vcxproj.filters
*.vcxproj.user

*.exe
*.out
*.app

*.o
*.obj
*.lib
*.dll
*.so
*.dylib

Debug/
Release/
x64/
x86/

*.log
*.tmp

.DS_Store
Thumbs.db

Testing/